 @charset "UTF-8";

h1 {
	text-align: center;
	color: #753422;
	
}
h4 {
	color: #492F10;
	margin-bottom: 0;
	margin-left: 20px;
}
li{
	margin-left: 3%;
}
hr{
	width: 100%;
}
ul {
	padding: 3%;
	background: #FDF6F0;
	margin-top: 0;
	margin-bottom: 0;
}
ol {
	background: #FDF6F0;
	margin-top: 1%;
	padding: 2%;
}
div {
	line-height: 200%;
	margin-left: auto;
	margin-right:5%;
	margin-top: 0;
	padding: 2%;
}
#title{
	width: 40%;
}
#num, #writer, #regdate, #file, #read{
	width: 12%;
	text-align: center;
}
#inputbox, #bTitle, #search{
	width:99%;
	border: none;
	line-height: 30px;
	margin: 0;
}
#searchSelect{
	width:99%;
	border: none;
	background: #F6F5F5;
	line-height: 30px;
	margin: 0;
}


input[type="button"], input[type="submit"] {
	margin-left: 5px;
	border: none;
	color: #753422;
	background: #F6F5F5;
	font-size: 20px;
	float: right;
}
input:hover{
	color: #753422;
	background: #FCD8D4;
}
#bTitle{
	background: white;
	width: 100%;
	text-align: left;
	border: 0;
}
#bTitle:hover{
	background: #E8F6EF;
}
#head{
	background: #F6F5F5;
}
table{
	width: 100%;
	align-content: center;
}
td{
	width: 13%;
}
td{
	border-bottom: 1px solid #1687A7;
}

#foot {
	color: #753422;
	font-weight: bold;
	text-align: center;
}

p {
	line-height: 160%;
}

b {
	text-indent: -2em;
}


progress {
	width: 100%;
}

.h_graph ul{margin:0 0 0 20px;padding:1px 0 0 0;border:1px solid #ddd;border-top:0;border-right:0;font-size:11px;font-family:Tahoma, Geneva, sans-serif;list-style:none}
.h_graph li{position:relative;margin:10px 0;vertical-align:top;white-space:nowrap}
.h_graph .g_bar{display:inline-block;position:relative;height:20px;border:1px solid #ccc;border-left:0;background:#e9e9e9}
.h_graph .g_bar span{position:absolute;top:0;right:-50px;width:40px;color:#767676;line-height:20px}
